@import './colors.scss';

.App {
  text-align: center;
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  padding: 2rem;
}

.App-header {
  color: $black;
  text-align: left;
  font-size: 3rem;
  @media only screen and (max-width: 768px){
    text-align: center;
  }
}

.App-content {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.rulesStats, .puzzleArea{
  
}

.puzzleTopButtons, .puzzleBottomButtons{
  display: flex;
  justify-content: space-between;
}

.timerText{
  font-size: 1.5rem;
  color: #2E335C;
  font-weight: 700;
}

.disabled{
  pointer-events: none;
  opacity: 0.3;
  background-color: #2E335C;
}